server:
  port: 0

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop


eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 1 # ??????? 1??? ???? ??  (?? 30?)
    lease-expiration-duration-in-seconds: 2 # ?????? ??? ?? ?? ?? ?? ??? ???????? 2? ???
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka



greeting:
  message: Welcome to the Simple E-commerce